* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
    background: #4489AD;
    font-family: "Audiowide", sans-serif !important;
  }

  a {
    text-decoration: none;
  }
  
  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 55px;
    background: #4489AD;
    padding: 10px 35px;

  }
  

  .header h1 {
    color: #fff;
  }

  .header > .left-head {
    display: block;
    background: #4489AD;
  }

  .logo{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo h1{
    font-size: 30px;
  }

  .logo img{
    width: 40px;
    height: 40px;
    margin-right: 8px;
  }
  
  .nice-nav {
    width: 320px;
    background: #4489AD;
    height: 100vh;
    transition: all 0.4s ease-in-out 0s;
    float: left;
    position: relative;
    z-index: 10;
  }

  .nice-nav.open {
    margin-left: -320px;
    display: block;
  }
  
  

  .xp-nvl{
    width: 100%;
    padding-left: 20px;
  }

  .content-xp{
    display: flex;
    align-items: center;
  }


  .nvl{
    width: 100%;
    position: relative;
    left: -28px;
  }

  .img-xp{
    z-index: 1;
  }

  .nvl-number,
  .xp{
    text-align: center;
    background-color: #fff;
    width: 80%;
    text-transform: uppercase;
  }

  .xp{
    height: 15px;
    width: 75%;
    font-size: 12px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nvl-number{
    border-radius: 35px;
    color: #5E548E;
    padding: 6px 0px;
  }

  .nice-nav ul li{
    width: 70%;
    padding: 10px;
    margin-left: 15px;
    margin-bottom: 20px;
    list-style: none;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .nice-nav ul li a{
    color: #fff;
  }

  .home-link{
    padding: 10px 0px;
    border-radius: 0px 25px 25px 0px;
    background-color: #fff;
    
  }

  .home-link a{
    color: #4489AD !important;
  }

  .nice-nav ul li img{
    margin-right: 10px;
  }

  /*MAIN*/

  main{
    padding: 0px 30px;
    padding-top: 50px;
    border-radius: 30px 30px 0px 0px;
    background-color: #fff;
  }

  .title_name{
    width: 100%;
    text-align: center;
    color: #5E548E;
    margin-bottom: 30px;
  }

  main .container h5{
    color: #5E548E;
    margin-bottom: 10px;
  }

  main .container span{
    width: 30px;
    height: 10px;
    border-radius: 50%;
    font-size: 12px;
    padding: 2px 5px;
    background-color: #5E548E;
    color: #fff;
  }

  main .need-to-complete {
    overflow-y: scroll;
    height: 500px;
    margin-bottom: 30px;
  }

  .task-complete{
    overflow-y: scroll;
    height: 500px;
  }

  main .container{
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
  }

  main .container .cards{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
  }

  main .card{
    width: 380px;
    height: 150px;
    border-radius: 25px;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: #57548e1f;
  }

  main .card .title-task{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 10px;
  }

  main .card p{
    padding: 0 10px;
    height: 65px;
    overflow-y: scroll;
  }

  main .card img{
    cursor: pointer;
  }